body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
  transition: 0.3s;
}

body.light {
  background: white;
  color: black;
}

body.dark {
  background: #121212;
  color: white;
}

button {
  padding: 12px;
  width: 90%;
  max-width: 300px;
  margin: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
